body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(315deg, rgba(48, 43, 21, 1) 0%, rgba(126, 118, 71, 1) 100%);
  margin: 0;
}

canvas {
  background-image: url('./assets/background.png');
  border-radius: 0.5rem;
  filter: drop-shadow(30px 30px 30px rgba(48, 43, 21, 1));
  cursor: crosshair;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#subtitle {
  margin-top: 10px;
}

#score {
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  user-select: none;
}
