body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(315deg, rgba(48, 43, 21, 1) 0%, rgba(126, 118, 71, 1) 100%);
  margin: 0;
}

canvas {
  display: none;
  background-image: url('./assets/background.png');
  border-radius: 0.5rem;
  filter: drop-shadow(30px 30px 30px rgba(48, 43, 21, 1));
  cursor: crosshair;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#subtitle {
  margin-top: 10px;
}

#startButton {
  user-select: none;
  display: flex;
  margin: auto;
  margin-top: 40px;
  padding: 20px 40px 20px 40px;
  background-color: rgba(126, 118, 71, 1);
  border: none;
  border-radius: 25px;
}

#startButton:hover {
  background-color: rgba(48, 43, 21, 1);
  color: white;
}

#logo {
  user-select: none;
  font-size: 100px;
  color: white;
  display: flex;
  margin: auto;
}

#endText {
  display: none;
  font-size: 100px;
  color: white;
  display: flex;
  margin: auto;
  padding-top: 20px;
}

#endPoints {
  display: none;
  color: white;
  display: flex;
  margin: auto;
  padding-top: 20px;
}

#endIteration {
  display: none;
  color: white;
  display: flex;
  margin: auto;
  padding-top: 20px;
}
